on: [push, pull_request, workflow_dispatch]

name: Build

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build-arm:stable

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache west modules
        uses: actions/cache@v4
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
            zmk/
          key: ${{ runner.os }}-zephyr-${{ hashFiles('config/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-zephyr-

      - name: West Init
        run: west init -l config

      - name: West Update
        run: west update

      - name: West Zephyr export
        run: west zephyr-export

      - name: West Build (Sofle Left)
        run: west build -s zmk/app -b nice_nano -- -DSHIELD=sofle_left -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"

      - name: Rename zmk.uf2 (Sofle Left)
        run: cp build/zephyr/zmk.uf2 sofle_left_nice_nano.uf2

      - name: Archive (Sofle Left)
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: sofle_left_nice_nano.uf2

      - name: West Build (Sofle Right)
        run: west build --pristine -s zmk/app -b nice_nano -- -DSHIELD=sofle_right -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"

      - name: Rename zmk.uf2 (Sofle Right)
        run: cp build/zephyr/zmk.uf2 sofle_right_nice_nano.uf2

      - name: Archive (Sofle Right)
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: sofle_right_nice_nano.uf2
